/etherium/node_modules
/backend/classes/__pycache__
/backend/routes/account/__pycache__
/backend/routes/auth/__pycache__
/backend/routes/home/__pycache__
/backend/routes/__pycache__
/backend/utils/__pycache__
backend/routes/__pycache__/__init__.cpython-311.pyc
backend/routes/auth/__pycache__/login.cpython-311.pyc
backend/utils/__pycache__/mysql_actions.cpython-311.pyc
backend/routes/auth/__pycache__/login.cpython-311.pyc
backend/utils/__pycache__/mysql_actions.cpython-311.pyc
backend/routes/__pycache__/__init__.cpython-311.pyc

etherium/contracts/.gitkeep
etherium/migrations/.gitkeep
etherium/test/.gitkeep
.vscode/settings.json
etherium/zk/verification.key
etherium/zk/proving.key
etherium/zk/out.r1cs
etherium/zk/out
etherium/zk/abi.json
etherium/zk/verifier.sol
etherium/build/contracts/UserRegistry.json
etherium/build/contracts/Voting.json
