{% extends 'base.html' %}

{% block title %}
Аккаунт
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}?v={{ random }}">
{% endblock %}
{% block body %}
<div class="user-info">
    <h1>Информация о пользователе</h1>
    <img src="{{ url_for('static', filename='img/user.png') }}" alt="User Icon" class="user-icon">
    <p class="user-login">Логин: {{ username }}</p>
</div>

<div class="row">
    <div class="col-12 text-center mt-4">
        <button type="button" class="btn" id="participationButton">Участия в голосованиях</button>
        <button type="button" class="btn" id="createdButton">Созданные голосования</button>
    </div>
</div>

<h2 id="elections-heading">Голосования пользователя:</h2>
<ul id="elections-list" class="list-group"></ul>

<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}