<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}?v={{ random }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="header">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

            <ul class="nav col-12 col-md-auto mb-2 justify-content-left mb-md-0 logo">
                <li><a href="{{ url_for('home.home')}}" id="ether" class="logo-text">EtherVote</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a href="{{ url_for('account.account') }}" class="btn btn-outline-primary me-2">Аккаунт</a>
                <a href="{{ url_for('logout') }}" class="btn btn-primary me-2">Выйти</a>
            </div>
        </header>
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>