div {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 100;
  }

.container{
    padding: 100px 0;
}

.user-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    text-align: center;
    margin-bottom: 30px;
}

.user-login {
    font-size: 18px;
}

.list-group-item {
    border-color: #dee2e6;
}

.list-group-item strong {
    font-size: 18px;
}